.ui-inputText{
   background-color: red;
}

.ui-inputfield, .ui-widget-content .ui-inputfield{
    background: #FB724B!important;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
    box-shadow: inset 0 2px 2px #8f8f8f;
    color: #7405FF!important;
}