.ui-panel{
    border: solid 1px;
    border-radius: 20px;
    border-color: #7405FF;
    padding: 50px; 
    margin-top: 50px;
}

.ui-panel{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;

}

.ui-panelGrid{
    align-content: center;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    color: #000;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: #FFF;
    -webkit-rtl-ordering: logical;;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    padding: 1px 2px;
    border: solid 0.5px;
    border-color: #7405FF;
    border-image: initial;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}




